@import url("https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Arimo:wght@500&family=Saira:wght@300&display=swap");

/* ================= BASE ================= */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Saira", sans-serif;
  background-color: #000;
  background-size: cover;
  color: #fff;
  font-weight: 700;
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
  font-weight: 700;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ================= LAYOUT ================= */
.bd-grid {
  max-width: 1200px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: #000;
}

/* ================= PÁGINAS ================= */
/* ================= NAV ================= */
.nav {
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-image: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(#000),
      to(#1d4e11)
    );
    background-image: linear-gradient(#000, #1d4e11);
    width: 100%;
    height: 45%;
    padding: 1.5rem;
    border-radius: 0 0 1rem 1rem;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.nav__list {
  text-align: center;
  font-size: 1.4rem;
  margin-left: -10rem;
}

.nav__item {
  margin-bottom: 2rem;
}

.nav__link {
  color: #9dfd99;
}

.nav__link:hover {
  position: relative;
  letter-spacing: 0.1em;
  color: #9dfd99;
}

.nav__link:hover::after {
  position: absolute;
  content: "";
  width: 1.5rem;
  height: 0.1875rem;
  left: 0.125rem;
  top: 2.125rem;
  background-color: #1d4e11;
}

.nav__logo {
  font-size: 0.93rem;
  color: #fff;
}

.nav__toggle {
  font-size: 1.5rem;
  cursor: pointer;
}

/*Aparecer menu*/
.show {
  top: 3rem;
}

/*Home*/
.l-main {
  height: calc(100vh - 3rem);
  background-color: #000;
}

.home {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: max-content max-content;
  grid-template-rows: -webkit-max-content -webkit-max-content;
  grid-template-rows: max-content max-content;
  -ms-flex-line-pack: distribute;
  align-content: space-around;
  row-gap: 7rem;
  height: 100%;
  font-weight: 700;
}

.home__information {
  padding-left: 1rem;
  border-left: 5px solid #fff;
  z-index: 10;
}

.home__pressent {
  font-size: 1.4rem;
}

.home__title {
  font-size: 5.5rem;
}

.home__title span {
  color: #1d4e11;
}

.home__skill {
  font-size: 2.8rem;
}

.home__button {
  display: inline-block;
  margin-top: 1.5rem;
  font-size: 0.75rem;
  color: #fff;
  padding: 0.625rem 1rem;
  border-radius: 0.25rem;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#000),
    to(#1d4e11)
  );
  background-image: linear-gradient(to right, #000, #1d4e11);
}

.home__img {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 291px;
  z-index: 1;
}

.home__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 1rem;
}

.home__social-icon {
  margin-bottom: 2rem;
  font-size: 1.33rem;
  cursor: pointer;
}

.home__social-icon:hover {
  color: #000;
}

/*----- MEDIA QUERIES -----*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .l-main {
    height: 100vh;
  }
  .nav {
    height: 4rem;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 0;
  }
  .nav__item {
    margin-left: 1rem;
    margin-bottom: 0;
  }
  .nav__toggle,
  .nav__close {
    display: none;
  }

  .nav__link {
    text-transform: initial;
  }

  .home {
    -ms-grid-rows: max-content 20px;
    grid-template-rows: -webkit-max-content 20px;
    grid-template-rows: max-content 20px;
    -ms-flex-line-pack: center;
    align-content: center;
  }

  .home__information {
    margin-top: 2rem;
  }

  .home__social {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 8rem;
    padding-bottom: 0;
  }

  .home__social-icon {
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .home__img {
    width: 553px;
    right: 5%;
  }
}

@media screen and (min-width: 1200px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}

/*ANIMATE*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

/*
.first {
  background-color: #1d4e11;
}

.second {
  background-color: #1d4e11;
  left: 33.3%;
}

.third {
  background-color: #1d4e11;
  left: 66.6%;
}

*/
