/* Please ❤ this if you like it! */
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@300&display=swap');


/* ================= CORES =================
:root {
  --verde: #1d4e11;
  --verdeClaro: #9dfd99;
  --verdeFolha: #5eff00;
  --preto: #000;
  --pretoFosco: #101010;
  --pretofechado: #080808;
  --branco: #FFF;
  --cinza: #ffffff90;
  --cinzaEscuro: #ffffff20;
  --cinzaClaro: #27272790;
}

 ================= FONTES =================

:root {
    --fontBody: 'Saira', sans-serif;
    --fontMenu: 'Arimo', sans-serif;
    --tamanhoh1: 5.5rem;
    --tamanhoh2: 2.8rem;
    --fontNormal: 0.93rem;
    --fontPequena: 0.81rem;
    --fontGrande: 1.4rem;
  }
*/

.main {
  font-family:'Saira', sans-serif;
  font-weight: 300;
  font-size: 13px;
  line-height: 1.7;
  color: #ffffff90;
  background-size: cover;
  overflow-x: hidden;
  background: #080808;
  background-image: url("https://i.imgur.com/iZXIiEL.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  cursor: pointer;
  transition: all 200ms linear;
  text-decoration: none;
}

.link {
  color: #ffffff90;
}

.link:hover {
  color: #9dfd99;
}

p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.7;
}

h4 {
  font-weight: 600;
}

h6 span {
  padding: 0 50px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.section {
  position: relative;
  width: 100%;
  display: block;
}

.full-height {
  min-height: 100vh;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked + label,
.checkbox:not(:checked) + label {
  position: relative;
  display: block;
  text-align: center;
  width: 100px;
  height: 12px;
  border-radius: 8px;
  padding: 0;
  margin: 2px auto;
  cursor: pointer;
  background-color: #9dfd99;
}

.checkbox:checked + label:before,
.checkbox:not(:checked) + label:before {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: #fff;
  background-color: #1d4e11;
  font-family: "unicons";
  content: "⇖";
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  transition: all 0.5s ease;
}

.checkbox:checked + label:before {
  transform: translateX(84px) rotate(-995deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 490px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 20px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 20px;
  opacity: 0.92;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.form-style {
  padding-left: 20px;
  height: 50px;
  width: 100%;
  font-weight: 500;
  border-radius: 30px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #ffffff90;
  background-color: #101010;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, 0.2);
}

.form-style:focus,
.form-style:active {
  border-bottom: 1px solid #5eff00;
  outline: none;
}

.input-icon {
  position: absolute;
  top: 0;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #9dfd99;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
  color: #ffffff90;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
  color: #ffffff90;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
  color: #ffffff90;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
  color: #ffffff90;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn {
  border-radius: 20px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0px 20px;
  margin: 0 10px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #9dfd99;
  color: #1d4e11;
}

.btn:hover {
  background-color: #101010;
  color: #9dfd99;
}

.logo {
  position: absolute;
  top: 30px;
  right: 30px;
  display: block;
  z-index: 100;
  transition: all 250ms linear;
}

.logo img {
  height: 26px;
  width: auto;
  display: block;
}
