<div class="main">

  <div class="section">
    <div class="container">
      <div class="row full-height justify-content-center">
        <div class="col-12 text-center align-self-center py-5">
          <div class="section pb-5 pt-5 pt-sm-2 text-center">
            <h6 class="mb-0 pb-3"><span>Entrar </span><span>Cadastrar</span></h6>
            <input class="checkbox" type="checkbox" id="reg-log" name="reg-log" />
            <label for="reg-log"></label>
            <div class="card-3d-wrap mx-auto">
              <div class="card-3d-wrapper">
                <div class="card-front">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-4 pb-3">Entrar</h4>

                      <div class="form-group">
                        <input [(ngModel)]="userLogin.email" type="email" name="logemail" class="form-style" placeholder="E-Mail" id="logemail"
                          autocomplete="off">
                        <i class="input-icon uil uil-at"></i>
                      </div>

                      <div class="form-group mt-2">
                        <input [(ngModel)]="userLogin.senha" type="password" name="logpass" class="form-style" placeholder="Senha" id="logpass"
                          autocomplete="off">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>

                      <a type="submit" class="btn mt-4" (click)="login()">Entrar</a>
                      <p class="mb-0 mt-4 text-center"><a routerLink='/esqueceu-senha' class="link">Esqueceu a
                          Senha?</a></p>
                    </div>
                  </div>
                </div>


                <div class="card-back">
                  <div class="center-wrap">
                    <div class="section text-center">
                      <h4 class="mb-2 pb-1">Cadastrar</h4>

                      <div class="form-group">
                        <input [(ngModel)]="user.nome" type="text" name="logname" class="form-style"
                          placeholder="Nome Completo" id="logname" autocomplete="off">
                        <i class="input-icon uil uil-user"></i>
                      </div>

                      <div class="form-group mt-2">
                        <input [(ngModel)]="user.email" type="email" name="logemail" class="form-style"
                          placeholder="Digite seu E-mail" id="logemail" autocomplete="off">
                        <i class="input-icon uil uil-at"></i>
                      </div>

                      <div class="form-group mt-2">
                        <input (input)="confirmPass($event)" type="password" name="logpass" class="form-style"
                          placeholder="Digite sua senha" id="logpass" autocomplete="off">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>

                      <div class="form-group mt-2">
                        <input [(ngModel)]="user.senha" type="password" name="logpass" class="form-style"
                          placeholder="Confirme sua senha" id="logpass" autocomplete="off">
                        <i class="input-icon uil uil-lock-alt"></i>
                      </div>

                      <div class="form-group mt-2">
                        <input [(ngModel)]="user.foto" type="text" name="foto" class="form-style"
                          placeholder="Coloque o link para sua foto" id="logname" autocomplete="off">
                        <i class="input-icon uil uil-user"></i>
                      </div>

                      <div class="form-group mt-2">
                        <select class="form-style" name="tipo" id="tipo" (change)="typeUser($event)">
                          <option>Selecione um tipo de Usuário:</option>
                          <option value="alune">Alune</option>
                          <option value="visitante">Visitante</option>
                          <option value="Admin">Administrador</option>
                        </select>
                      </div>
                      <a type="submit" class="btn mt-2" (click)="register()">Cadastrar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
