<nav class="navbar navbar-expand-lg bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <a class="navbar-brand" href="https://www.instagram.com/ebony.programador/" target="blank">
          <img src="https://i.imgur.com/NyeIYU1.png" alt="Logo Ebony Sys" class="w-18">
      </a>

      <ul class="navbar-nav mr-auto mt-1 mt-lg-0">
          <li class="nav-item">
              <a class="nav-link mf" href="#">Início<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link mf" href="#">Portfólio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link mf" href="#">Comunidade</a>
          </li>
          <li class="nav-item">
              <a class="nav-link mf" href="#">Quem somos</a>
          </li>
          <li class="nav-item">
              <a class="nav-link mf" href="#">Contato</a>
          </li>
      </ul>
  </div>
</nav>
